
.addFriendPage{
	max-width: 700px;
	margin: 40px auto;
	position: relative;
	padding-top: 55px;
}
.ppic{
	width: 200px;
	height: 200px;
}
.ppic img{
	width: 100%;
	height: 100%;
}
.likeButton, .dislikeButton{
	margin: 10px;
    padding: 5px 15px;
    border-radius: 90%;
    border: 1px solid #000;
    font-size: 24px;
    display: inline-block;
    text-align: center;
}
.user{
	border: 2px dotted #000;
}
.name, .actionButton{
	margin: 2px;
	text-align: center;
}
.loadingIcon{
	margin: 10px;
}
.AddList{
	margin: 20px 0px;
	background: lightblue;
	padding: 10px;
	cursor: pointer;
}
.addFriendPage .AddList{
	cursor: auto;
}
.AddList:hover{
	background: #0096a7;
	color: #fff;
}
.AddFriend{
	font-size: 22px;
	line-height: 0.8;
	float: right;
	cursor: pointer;
}
.AddFriend:hover{
	color: #000;
}
.btn.logOutBtn{
	position: absolute;
    top: 0px;
    right: 0px;
}
.addFriendPage .btn, .dataPage .btn{
	margin: 0px;
}
.btn.logOutBtn .loginBtn{
	/* color: red; */
}
.btn.logOutBtn .loginBtn:hover{
	border: 1px solid red;
	color: red;
}

@media(max-width: 767px) {
	.btn.logOutBtn {
		position: relative;
		top: auto;
		right: auto;
	}
	.addFriendPage .btn .loginBtn, .dataPage .btn .loginBtn{
		margin: 0px;
	}
	.addFriendPage{
		margin: 20px auto;
		padding-top: 0px;
	}
}